In [1]:
import sys
sys.path.append("..")

In [2]:
import pandas as pd
from src.feature_engineering import merge_features
from src.metrics import tiger_success_index

In [3]:
population = pd.read_csv("../data/raw/tiger_population.csv")
funding = pd.read_csv("../data/raw/reserve_funding.csv")

In [4]:
df = merge_features(population, funding)
df["tiger_index"] = df.apply(tiger_success_index, axis=1)

In [5]:
df.to_csv("../data/processed/features.csv", index=False)
df.head()

,year,reserve_id,population,area_sq_km,funding_crore,population_growth,tiger_index
0,2006,TR01,1141,1200,150,0.0,390.0
1,2010,TR01,1700,1200,150,559.0,669.5
2,2014,TR01,2226,1200,150,526.0,653.0
3,2018,TR01,2967,1200,150,741.0,760.5
4,2022,TR01,3682,1200,150,715.0,747.5