In [1]:
import sys
sys.path.append("..")

In [2]:
import pandas as pd
from src.clustering_model import identify_hotspots

In [3]:
poaching = pd.read_csv("../data/raw/poaching_incidents.csv")
clustered = identify_hotspots(poaching)

In [4]:
clustered.head()

  reserve_id    lat    lon  incident_count  cluster
0       TR01  19.10  79.20              12        1
1       TR01  19.15  79.25               8        1
2       TR02  20.10  78.50               5        0
3       TR02  20.15  78.55               3        2